body {
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    font-family: 'Times New Roman', 'monospace', 'Arial';
}

input {
    border-style: none;
    background-color: #EAECEE;
}
input:focus {
    outline: none;
}
#result-display {
    text-align: right;
    color: black;
}

.container {
    gap: 12px;

    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 6px;
    border-color: crimson;

    padding: 6px 6px 6px 6px;

    background-color: #B2DFDB;
}

.displays {
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;

    color: crimson;
}

.operators-btns {
    width: 40%;
}
.functions-btns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    width: 100%;
}
.main-btns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
}

.normal-btn,
.func-btn,
.op-btn
 {
    background-color: #EBDEF0;
    border-color: orangered;
}

.func-btn {color: #641E16;}
.op-btn {color: #117A65;}
.normal-btn {color: #BA4A00;}

